/* app global css */
.textarea {
  border: 1px solid #26a69a;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 226px;
  border-radius: 8px;
  line-height: 1.5em;
  max-height: 230px;
  overflow-y: auto;
}


.textarea_mobile {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 200px;
  line-height: 1.5em;
  max-height: 230px;
  overflow-y: auto;
}

.editor::after {
  content: '.sats';
  color: grey;
}

.input-line {
  display: flex;
  align-items: center;
  line-height: 1.5em;
  padding: 5px;
  margin-left: -10px;
  margin-top: 5px;
  margin-right: -10px;
  text-indent:60px;
  border-bottom: 1px #27A69A solid !important;
}

.input-line span {
  margin-right: 10px;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 8px;
}

.input-line button {
  background-color: transparent;
  border: 1px #27A69A solid !important;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.toolbar_style {
  width: 1480px !important;
  max-width: 1480px !important;
}


.drag-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

.dropzone {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  border: 2px dashed #26a69a;
  border-radius: 8px;
  background-color: transparent;
  margin-bottom: 16px;
}

.dropzone_mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 240px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  background-color: transparent;
  margin-bottom: 16px;
}

.remove_padding .q-uploader__list {
  padding: 0px;
}

@media screen and (max-width: 390px) {
  .dropzone {
    width: 94%;
  }
}

.drag-drop-text {
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
}

.active_item {
  color: #00e676 !important;
}

.active_border {
  border: 1px #00e676 solid !important;
}

.active_border_secondary {
  border: 1px #00e676 solid !important;
}

.editor:focus-visible {
  outline: 0px;
}

.file-list {
  width: 400px;
}

.upload-button {
  margin-top: 16px;
}

.q-uploader__header-content {
  display: none !important;
}

.item_style {
  border-radius: 12px;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  opacity: 0.2;
  width: 4px;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 230, 118, 0.31);
  width: 4px;
}

.final_amount_class {
  background: -webkit-linear-gradient(#c7d2fe, #38bdf8, #c7d2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.my-input::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin-top: 5px;
}

.my-input::after:last-of-type {
  display: none;
}

.my-input::before {
  display: none;
}

.my-input::-webkit-scrollbar {
  width: 6px;
}

.my-input::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.my-input::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

.editor::after {
  content: '.sats';
  font-size: 20px;
  float: right;
}
.editor::before {
  content: '.sats';
  font-size: 20px;
  visibility: hidden;
  float: left;
}

.editor {
  border-bottom: 1px #26a69a solid !important;
  font-size: 20px;
}


.q-field--dark .q-field__control:before {
  border-color: #26a69a;
}

.gas_fee_border {
  border: 1px #26a69a solid
}

.q-field--dark:not(.q-field--highlighted) .q-field__label, .q-field--dark .q-field__marginal, .q-field--dark .q-field__bottom {
  color: #26a69a;
}

.custom_input .q-field--dark:not(.q-field--highlighted) .q-field__label, .q-field--dark .q-field__marginal, .q-field--dark .q-field__bottom {
  color: #00e676;
}

.q-stepper--dark.q-stepper--bordered, .q-stepper--dark .q-stepper__header--border {
  border-color: #26a69a !important;
}

.amount_style{
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}


.custom_input .q-field--dark .q-field__control:before {
  border-color: #00e676 !important;
}


.card_margin {
  margin-top: -3px;
}

.q-stepper--dark.q-stepper--horizontal .q-stepper__line:before, .q-stepper--dark.q-stepper--horizontal .q-stepper__line:after{
  background-color: #26a69a !important;
}


.button_width{
  width: 123px !important;
}

.button_width_mobile{
  width: 95px !important;
}
